---
import H1 from '@components/Headings/H1.astro';
import P from '@components/Headings/P.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import BoxedLayout from '@layouts/BoxedLayout.astro';
import { Icon } from 'astro-icon/components';

import { slashes } from '@utils/slashes.ts';

import { type Page, PageType } from 'src/types/types';

export const metadata: Page = {
  lang: 'en',
  slug: 'slashes',
  excludeFromIndex: true,
  lastmod: new Date('2025-09-16T12:00:00Z'),
  type: PageType.SITE,
  priority: 0.7,
  slugTranslations: {},
};
---

<BaseLayout>
  <BoxedLayout>
    <body>
      <main>
        <div class='flex w-full justify-between'>
          <a href='/' class='text-md hover:underline'>~</a>
          <a href='/' class='text-md hover:underline'>/home</a>
        </div>
        <H1 text='Slashes' class='mt-4' />
        <P>
          Think of this page as a more concise and human-friendly
          <a
            href='/sitemap.xml'
            target='_blank'
            rel='noopener noreferrer'
            class='underline underline-offset-2 hover:text-zinc-600'
          >
            /sitemap</a
          >. Inspired by
          <a
            href='https://slashpages.net'
            target='_blank'
            rel='noopener noreferrer'
            class='underline underline-offset-2 hover:text-zinc-600'>slashpages.net</a
          >.
        </P>
        <div class='mt-8 w-full'>
          {
            Object.entries(slashes)
              .filter(([key, slash]) => slash.isVisible)
              .sort(([a], [b]) => a.localeCompare(b))
              .map(([key, slash]) => (
                <div class='flex items-center' id={slash.url}>
                  <div class='w-32'>
                    <a href={slash.url} class='text-md hover:underline'>
                      <span class='whitespace-nowrap'>{slash.url}</span>
                    </a>
                  </div>
                  <P class='w-full'>{slash.description}</P>
                </div>
              ))
          }
        </div>
      </main>
      <footer class='mt-8 w-full'>
        <div class='border-0.5 border-t border-zinc-400'></div>
        <div class='mt-4 flex w-full flex-col items-center justify-center gap-2 text-sm text-zinc-400'>
          <div class='flex items-center gap-2'>
            <a href='https://www.linkedin.com/in/joebashour/' target='_blank' rel='noopener noreferrer'>
              <Icon name='fa7-brands:linkedin' size='1.5rem' class='hover:text-[#2867B2]' />
            </a>
            <a href='https://github.com/joeBash' target='_blank' rel='noopener noreferrer'>
              <Icon name='fa7-brands:github' size='1.5rem' class='hover:text-[#24292F]' />
            </a>
            <a href='https://bsky.app/profile/joebashour.bsky.social' target='_blank' rel='noopener noreferrer'>
              <Icon name='fa7-brands:bluesky' size='1.5rem' class='hover:text-[#1185FE]' />
            </a>
          </div>
          <span>© 2025 Joe Bashour</span>
        </div>
      </footer>
    </body>
  </BoxedLayout>
</BaseLayout>
